body{
    background: url('images/moto3.jpg');

    width: 500px;
    height: 500px;
}

.head1{
    background-color: black;
    font-size: 45px;
    color: whitesmoke;
}

.head1 h1{
    margin-left: 200px;
    margin-top: -115px;
}

.head1 .logo1{
    height: 100px;
    width: 100px;
    padding: 10px;
}

